.left {
    position: absolute;
    top: 120px;
    left: 50px;
    color: bisque;
    font-size:29px ;
    font-family:'Times New Roman', Times, serif;
    width: 70%;
    float: left;
  }
  h4{
    font-size: 22px;
  }
  .d-flex{
    font-size: 60px;
     margin-left: 250px;
     padding-right: 20px;
  }
  .button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
  }
  .button2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #585a58;
    border: none;
    border-radius: 15px;

  }
  
  .button1 :hover {background-color: #3e8e41}
  
 
  .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
   } 
   
   .right {
    position: absolute;
    top: 320px;
    left: 1020px;
    color:darkturquoise;
    font-family:'Times New Roman', Times, serif;
    width: 30%;
    float: left;
  }
  .box {
    width: 280px;
    height: 18px;
    border: 1px solid rgb(94, 99, 94);
    padding: 10px;
    margin: 20px;
    margin-top: 20px;
  }
  p{
    font-size: 18px;
    color: darkturquoise;
    } 
#mail{
  color:blueviolet
}