<div class="main">
    
    <div class="content">
        <img src="assets/images/bn.jpg"  style="width:100%; height: 640px;" alt="">
        <div class="left">
            <h3 style="font-size: 30px;">Edge your web development process with robust MEAN Stack.</h3>
            <br>
          
            <h4>Create impactful web experiences with interactive web portals, immersive apps<br>
            <br> and scalable API's backed by Javascript framework through our MEAN stack<br><br> 
            development services.</h4>
            <br>
            <button class="button1" type="submit" style="margin-right: 15px; font-size: 20px;">HIRE ME</button>
            <button class="button2" type="submit" style="margin-right: 15px; font-size: 20px;">KNOW MORE</button>
            <br>
            <br>
            <p>Have a project, idea or problem you'd like to discuss?<br>Let's chat @  <a href="datacode2018@gmail.com" id="email">datacode2018@gmail.com</a></p>
        </div>
    </div>
</div>
   